.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.login-panel-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid;
    border-radius: 15px;
    height: 150px;
    width: 200px;
}
